footer{
    background-color: #F4F4F4;
    height: 80px;
    color: $grey-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;

    #resume-link {
        background-color: $primary-color;
        padding: 10px;
        border-radius: 8px;
        position: relative;
        top: -30px;
        box-shadow:  $box-shadow;
        transition: all ease-in-out 0.2s;

        &:hover {
            background-color: white;
            cursor: pointer;

            a {
                color: $primary-color;
            }
        }

        a {
            color: white;
        }
    }
}

.credits {
    font-size: 0.5em;
}