footer{
    background-color: #F4F4F4;
    height: 10vh;
    color: #7c7c7c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.credits {
    font-size: 0.5em;
}