footer{
    background-color: #F4F4F4;
    height: 80px;
    color: $paragraph-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;

    .separator {
        height: 1px;
        width: 500px;
        margin-top: -15px;
        margin-bottom: 10px;
        background-color: #e4e4e4!important;
    }

    #resume-link {
        font-size: 1.1rem;
        background-image: $gradient-right;
        padding: 10px;
        border-radius: 8px;
        position: relative;
        top: -35px;
        box-shadow:  $box-shadow;
        transition: $transition;


        &:hover {
            transform: $transform-scale;
            cursor: pointer;
            box-shadow: $box-shadow-hover;
        }

        a {
            color: $text-color-inverse;
        }
    }
}

.credits {
    font-size: 0.5em;
}

@media(max-width: 580px) {
    footer {
        .separator {
            width: 300px;
        }
    }
}