@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Roboto', sans-serif;
}

body, html{
  scroll-behavior: smooth;
}

body{
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
}

p {
  color: $paragraph-color;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5vw 20px 5vw;
}

a{
  text-decoration: none;
  color: $paragraph-color;
}

.discret-links{
  color: $grey-color;
  transition: all ease-in-out 0.2s;

  &:hover{
    color: $accent-color;
  }
}

section{
  padding: 5vh 5vw 3vh 5vw;

  .title {
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  .title::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 80%;
    top: 9px;
    right: -12px;
    background: rgba(81, 224, 191, 0.7);
    max-height: 30px;
    z-index: -1;
  }

  .subtitle{
    font-size: 1rem;
    font-weight: normal;
    color:$grey-color;
  }
}