#menu {
  list-style: none;
  display: flex;
  z-index: 2;
  margin-left: 13px;

  li{
    padding-right: 2vw;

    a{
      transition: $transition;
      color: $title-color;

      &:hover{
        color: $accent-color;
      }      
    }
  }
}

@media(max-width: 552px) {
  header {
    justify-content: space-evenly;

    #menu {
      margin-left: unset;

      li {
        margin: 0 3vw;
        padding-right: unset;
        text-align: center;
      }
    }
  }
}