#skills {
    overflow-x: hidden;

    #illustration {
        position: absolute;
        left: 60%;
        z-index: -10;
        top: -9%;
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .left{
            margin-right: 5vw;
        }

        .left, .right{
            width: 90%;
            .skills-title{
                text-align: center;
            }

            .list {
                display: flex;
                flex-wrap:  wrap;
                align-content: stretch;
            }
        }
    }
}

.skill {
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
    flex-grow: 2;
    margin: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 3px 9px rgba(0,0,0,0.12);
    background-image: $gradient-right;
}


//.fr {width: 100%; background-image: linear-gradient(to right, #025be9, #0b62ef, #1369f4, #1a6ffa, #2076ff);}
//.en, .it {width: 70%; background-image: linear-gradient(to right, #025be9, #0b62ef, #1369f4, #1a6ffa, #2076ff);}

@media(max-width: 900px) {
    #skills #illustration {
        left: 40%;
        top: -5%;
    }
}

@media(max-width: 720px){
    #skills .container{
        flex-direction: column;
        align-items: center;

        .left {
            margin-right: unset;
        }

        .right{
            margin-top: 20px;
        }
    }
}

@media(max-width: 552px){
    #skills {
        .container {
            .right, .left{
                width: 85%;
            }
        }

        #illustration {
            left: 28%;
            top: -4%;
        }
    }
}