#studies {
    overflow: hidden;

    #illustration2 {
        position: absolute;
        z-index: -10;
        transform: rotate(-65deg);
        left: 65%;
        bottom: 17%;
    }
}

@media(max-width: 900px) {
    #studies {
        #illustration2 {
            left: 55%;
        }
    }
}

@media(max-width: 600px) {
    #studies {
        #illustration2 {
            left: 40%;
        }
    }
}