/*
	https://codepen.io/savalazic/pen/QKwERN/
*/
.timeline {
    position: relative;
    margin-top: 5vh;
    overflow-x: hidden;
    padding: 5px;
    padding-top: 20px;

    &::before {
        content: '';
        background: #f5f5f5;
        width: 10px;
        height: 95%;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &.container {
        overflow-x: hidden;
    }

    .timeline-item {
        width: 100%;
        margin-bottom: 50px;

        &:nth-child(even) .timeline-content {
            float: right;
            padding-top: 30px;
        }

        &:nth-child(even) .timeline-content .date {
            right: auto;
            left: -17px;
            background-image: $gradient-left;
        }

        &:nth-child(even) .timeline-content::after {
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
        }

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

.timeline-content {
    position: relative;
    width: 60%;
    padding: 10px 30px;
    border-radius: 15px;
    background: #f5f5f5;
    box-shadow: $box-shadow;

    &::after {
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        right: -15px;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent #f5f5f5;
    }

    h2{
        padding: 10px 5px 5px 0px;
        span{
            font-size: 1rem;
        }
    }

    p{
        font-size: 0.9rem;
        font-weight: normal;
        text-align: justify;
        margin-top: 4px;
        margin-bottom: 8px;
    }

    h3{
        color: $grey-color;
        font-size: 1rem;
        font-weight: normal;
        padding: 5px 2px 5px 0px;
    }
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: $primary-color;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}

.date {
    background-image: $gradient-right;
    display: inline-block;
    color: $text-color-inverse;
    padding: 10px;
    position: absolute;
    border-radius: 15px;
    top: -12px;
    right: -17px;
}

@media screen and (max-width: 768px) {
    .timeline {
        &::before {
            left: 50px;
        }

        .timeline-img {
            left: 50px;
        }

        .timeline-content {
            max-width: 100%;
            width: auto;
            margin-left: 70px;
        }

        .timeline-item {
            &:nth-child(even) .timeline-content {
                float: none;
            }

            &:nth-child(odd) .timeline-content::after {
                position: absolute;
                border-style: solid;
                width: 0;
                height: 0;
                top: 30px;
                left: -15px;
                border-width: 10px 15px 10px 0;
                border-color: transparent #f5f5f5 transparent transparent;
            }
        }
    }

    .date {
        right: 0px;
    }

    .timeline .timeline-item:nth-child(even) .timeline-content .date {
        left: 0px;
    }
}


@media(max-width: 375px){
    .timeline .timeline-item:nth-child(odd) .timeline-content h2{
        margin-top: 20px;
    }
}
