$primary-color:#025be9;
$accent-color: #52e0c0;

$gradient-right: linear-gradient(to right, $primary-color, #0b62ef, #1369f4, #1a6ffa, #2076ff);
$gradient-left: linear-gradient(to left, $primary-color, #0b62ef, #1369f4, #1a6ffa, #2076ff);

$box-shadow: 0 3px 9px rgba(0,0,0,0.12);
$box-shadow-hover: 0 6px 15px rgba(0,0,0,0.25);

$transition: all 0.4s ease;